.new-post{
    padding-top: 50px;
    padding-bottom: 25px;


}

.new-post header,
.posts header{
    margin-bottom: 20px;
}

.posts .post{
    padding: 10px;
    border-top: 1px solid #337ab7;
    border-bottom: 1px solid #337ab7;
    border-left: 4px solid #337ab7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 4px solid #337ab7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}

.posts {
    border-top: 2px solid #337ab7;

}

.posts .post .info{
    color: #aaaaaa;
    font-style: italic;
    padding: 10px;
}

.interaction a{
    margin: 5px;
}

.row-image{
    margin: 10px;
}

.like{
    word-spacing: -10px;
}


.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #66afe9;
    margin-bottom: 15px;
    margin-right: 5px;
}

.back-to-top i {
    font-size: 60px;
}

.scrolling {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.5);
    border-bottom: 2px solid #0f0f0f ;
}

.jumbotron {
    margin-top: 100px;
}